<% include partials/header %>
<div class="container">
    <h1 style="text-align:center;">Login</h1>
    <div style="margin:0 auto; width:30%;">
      <form action="/login" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
              <input type="text" class="form-control" name="username" placeholder="username" id="username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
               <input type = "password" class="form-control " name = "password" placeholder="password" id="password">
            </div>
            <button class="btn btn-primary">Login</button>
        </form>  
        <a href="/campgrounds">Go Back</a>
    </div>
</div>
<% include partials/footer %>